/*
Style sheet for Joystick. One stylesheet to rule them all. 
Made by Lilith Luce. 
*/

/* Initialize general styles*/
body, h2, h3, h4, h5, h6, p{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}
h1{
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    line-height: 20px;
}
body{
    background-color: #262626;
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* Section styling*/
header{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
header > img{
    width: 87px;
    height: 87px;
}
nav{
    background-color: #4E6775;
    height: 48px;
}

/*utility classes*/
.top-pad{margin-top: 19px;}
.left-pad{padding-left: 1rem;}


/*Containers*/
.flex-container, .container-q, .container-h80, article.container-h80>div{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.container-h80, article.container-h80>div{
    justify-content: center;
    width: 80%;
}
.container-q{
    justify-content: center;
    width: 25%;
}

/* IDs or specific elements tied to them. */
#avatar{
    border-radius: 50%;
    border: 4px solid #00AAAA;
}
#sitename{
    text-align: center;
    text-shadow: 4px 4px 8px black;
    margin: 0px 40px 0px 80px;
}
#features-box{
    object-fit: contain;
    background-clip: border-box;
    margin: 60px auto;
    height: 360px;
    box-shadow: 2px 2px 6px black;
}
#featured{
    align-items: flex-start;

}
/* Trying to enclose the images and use background-clip to hide unnecessary parts. 
Photoshop + map it would be way easier. 
#featured>img:first-of-type{

}
*/

#deals-snapshot{
    margin: auto;
    height: 1000px;
    background-color: #36464F;
    align-content: center;    
}
/* #deals-snapshot>h2{ }*/
#coupon-code-cards{
    margin: auto;
    height: 600px;
}
#bundles-list{
    margin: auto;
    height: 1300px;
    background-color: #36464F;
}

/*Specific classes*/
.logo-bar{
    background-color:#1d1d1d;
    height: 124px;
}
nav.flex-container > a{
    color: white;
    box-shadow: 4px 0px 8px #1d1d1d;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    height: 36px;
    padding: 8px 0px 4px;
    width: 140px;
    font-weight: bold;
    border-radius: 4px;
    margin: auto;
    transition-duration: 100ms; 
}
.flex-container>a:hover{ background-color:rgba(0, 170, 170, .3);}
.flex-container>a:active{
    text-decoration:underline;
    width: 160px;
    height: 32px;
}

/*extra specific styling*/
input[type=text] {
    font-family: 'Inter', 'sans-serif';
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    border-radius: 20px;
    background-image: url('images/icons/Search-Icon.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    width: 200px;
    padding: 12px 20px 12px 60px;
    outline: none;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

input:focus{
    width: 400px;
    border-radius: 6px;
}